/** Importing fonts from Google **/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,900italic|Open+Sans:400,400italic,600,700,600italic,700italic);


body{
	font: 12px 'Lato', sans-serif;
	height: 100%;
}

address {
	position: relative;
	bottom: 0;
	height: 10%; /*height of footer*/
	display: inline-block;
	text-align: center;
	font: 10px 'Open Sans', sans-serif;
	color: color: rgba(255,255,255,0.5); /*grey*/
	font-size: 10px;
	margin-bottom: 15%;
}

img {
	margin: auto;
}

button {
	padding-left: 20px;
}

div {
	margin-right: auto;
	margin-left: auto;
	letter-spacing: 0;
}
